
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url(./img/background.png);
}
nav ul{

    justify-content: center;
    margin-top: -15%;

}


@media only screen and (min-width: 701px) {
    nav ul {
        display: flex;
    }
    
    }
    form {
        display: flex;
        margin: auto;
    }
@media only screen and (max-width: 700px) {
    .heading-tertiary {
        margin-top: 80%;
    }
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
header li, a {
    margin: 75px 0 -55px 0;
    color: rgb(212, 168, 86);
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}

header li {
    width: 230px;
    text-indent: 56px;}
a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background:white;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    background-color: rgba(88, 87, 87, 0.126);
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}

.header{
    height: 90vh;
    position: relative;
}
.navbar-box{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.heading-tertiary{
    font-size: 3.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Times, "Times New Roman", Georgia, serif;
    color: white;
}
    
.header-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
}
.video{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    bottom: 0;
    right: 0;
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;

}
/*<--- card----->*/


.card {
    background-color: rgba(253, 200, 101, 0.904);
    border: 1px solid grey;
    border-radius:30px;
    color: black;
    padding: 1rem;
    height: 600px;

}
.menu {
    border: 1px solid grey;
    color: white;

}
.cards {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 1rem;
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;overscroll-behavior-inline: contain;
    column-gap: 1%;
    box-shadow: 0 0 1rem rgba(0,0,0,.4); 
    background-color: rgba(125, 121, 121, 0.089);    
}
  
article:first-of-type img.preview {
    background-image: url(./images/medium-burger.png);
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
}
  
article ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
  
article li {
    margin-left: 5px;
}
  
button {
    display: flex;
    min-width: 32%;
    max-width: 40%;
    height: 4%;
    margin: auto;
    background-color: rgb(150, 150, 202);
    flex-wrap: nowrap;
    overflow: hidden;
}
  
button img {
    max-width: 20%;
    margin-left: 3px;
}
.heading{
    font-size: 5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Times, "Times New Roman", Georgia, serif;
    color: rgb(125, 98, 49);    
}


article:first-of-type img.preview {
    background-image: url(./images/medium-burger.png);
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
}

article ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

article li {
    margin-left: 5px;
}

button {
    display: flex;
    min-width: 32%;
    max-width: 40%;
    height: 4%;
    margin: auto;
    background-color: rgb(150, 150, 202);
    flex-wrap: nowrap;
    overflow: hidden;
}

button img {
    max-width: 20%;
    margin-left: 3px;
}

aside {
    text-align: center;
}

form div {
    padding-left: 1%;
}

h3 {
   margin-top: -1%;
}



footer {
    display: flex;
    justify-content: space-around;
    background-color: #da6c1d7f;
    font-size: small;
}